{% extends "default.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>

{% if is_confirmed %}
<h3>
    Ваш электронный адрес подтверждён.
</h3>
{% else %}
<h3>
    Ваш электронный адрес не подтверждён.
</h3>
{% endif %}

<div> Здесь может содержаться персональная информация для каждого пользователя </div>
<p>&nbsp;</p>

<button> <a href="my_posts/">Ваши объявления</a> </button>
<button> <a href="my_replies/">Вы откликнулись</a> </button>
<button> <a href="replies/">На вас откликнулись</a> </button>

<button> <a href="sign/logout/">Выйти</a> </button>

{% endblock %}